
   <div class="top">
       <div class= "header">Covid19 Tracker</div>
   </div>

   <div class= "states">
       <button class= "statesPage" (click)= "changeState()">States 
          <!-- <select id="viewoption" (change)="changeState()">
              <option value="">States</option>
              <option *ngFor= "let state of states">{{state}}</option>
          </select> -->
       </button>
   </div>



<div class="container" *ngIf ="todayCasesDetails">

  <div class="stuff">

    <div class= "col-md-3 col-sm-12 details">
        <p>Daily confirmed: {{todayCasesDetails['dailyconfirmed']}}</p>
        <p>Daily deceased: {{todayCasesDetails['dailydeceased']}}</p>
        <p>Dailyrecovered: {{todayCasesDetails['dailyrecovered']}}</p>
        <p>Total confirmed: {{todayCasesDetails['totalconfirmed']}}</p>
        <p>Total deceased: {{todayCasesDetails['totaldeceased']}}</p>
        <p>Total recovered: {{todayCasesDetails['totalrecovered']}}</p>
        <p>Last updated on: {{updatedDate}}</p>
    </div>

    <div class= "col-md-9 col-sm-12 chart">
        <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="todayCasesDetailsArray"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="showLegendLabel"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel">
        </ngx-charts-bar-vertical>
    </div> 

  </div>
</div>  