.stateHeadings{

    color:orange;
}
.activeHeadings{
 
    color:red;
}
.confirmedHeadings{
    color:green;

}
.recoveredHeadings{
    color:blue;

}
.deathsHeadings{

    color:purple;
}


.state{

    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color:wheat;
    justify-content: space-around;
    
}
p{
    text-align: left;
    width:min-content;
}


@media only screen and (max-width:1400px) and (min-width:700px){
 
    .headings{

        margin:10px 0px 0px 0;
        padding-bottom: 20px;
        border-bottom-style: inset;
        border-bottom-width: 1px;
        border-bottom-color:wheat;
        font-weight: bold;
        font-size: 20px;
        justify-content: space-around;
    
    }



}

@media only screen and (max-width:700px) and (min-width:200px){

    .headings{

        margin:2px 0px 0px 0;
        padding-bottom: 2px;
        border-bottom-style: inset;
        border-bottom-width: 1px;
        border-bottom-color:wheat;
        font-weight: bold;
    
    }
    .stateHeadings,
    .activeHeadings,
    .confirmedHeadings,
    .recoveredHeadings,
    .deathsHeadings{
        
        margin-right: 5px;
    }

}